@page "/"
@layout LandingPageLayout

<PageTitle>AI Chef - Craft your next meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row alight-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://dev.oaklynxstudios.com/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="images/aicheflogolight.png" height="300"/>
            </div>
            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-success btn-lg">Get Started</a>
            </div>
        </main>
        <footer class="text-center p-2">
            <div class="container container-xxl">
                <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
                    <div class="col text-md-start order-last order-md-first">
                        <div class="row">
                            <div class="col-12">
                                &copy; 2024 Andrew Oakes.
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                    </div>
                    <div class="col text-md-end">
                        <div class="row">
                            <div class="col-12">
                                <a href="https://github.com/OakesekAo" alt="Github" target="_blank"><i class="bi bi-github"></i> </a>
                                <a href="https://www.linkedin.com/in/oakesa/" alt="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i> </a>
                                <a href="https://dev.oaklynxstudios.com/" alt="portfolio" target="_blank"><i class="bi bi-globe2"></i> </a>
                            </div>
                            <div class="col-12">
                                <a href="https://www.oaklynxstudios.com/" alt="Oak Lynx Studios" target="_blank">Oak Lynx Studios</a>
                                &bull;
                                <a href="https://dev.oaklynxstudios.com/" alt="portfolio" target="_blank">Portfolio</a>
                                &bull;
                                <a href="https://twoishday.up.railway.app/" alt="Twoishday: Ticket Tracker" target="_blank">Twoishday: Ticket Tracker</a>
                            </div>
                            <div class="col-12">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</div>
